body {
  font-size: 16 px;
  color: #fff;
  background-color: #61122f;
  ffont-family: 'Oxygen', sans-serif;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


/* Menu categories */
.category-title{
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

#p1,#p2{
    position:absolute;
    top:10px;
    width: 95%;
    padding:10px;
    font-family:monospace,verdana;
    font-size:75%;
   }

   #p3{
    position:absolute;
    top:10px;
    width: 95%;
    padding:10px;
    font-family:monospace,verdana;
    font-size:75%;
   }

   h
.category-tile:hover{
  box-shadow: 0 1px 5px 1px #ccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
