.dropdown-menu{
  position:static;
  width:100%;
  background-color: purple;
}

.dropdown-menu li>a{
  color:white;
}

#menudo{
  font-family: lora, serif;
  color: #557c3e;
  font-weight: bold;
  text.shadow: 1px 1px 1px #222;

}


.navbar-brand{
  position: absolute;
  left: 1%;
  font-family: verdana,monospace;
  font-size: 30px;
  }


  .container{
        position:relative;
        left: 0%;
        top:10px;
          align-self: center;
      width: 100%;
        height: 1500px;
        align-content: center;
      /*  background-color:orange; *//* to check the alignment for screen size*/

  }

  .menu1{
    padding: 10px;
    margin:1.5% 3% 1.5% 3%;
    background-color: lightgray;

  }

  .menu1-title{
  /*color:white;*/
    font-weight: bold;
    }


  .menu1-text,.menu2-text,.menu3-text{
    font-family: monospace;
    margin-left: 10px;
  }

    .menu2{
      padding: 10px;
      margin:1.5% 3% 1.5% 3%;
      background-color: lightgray;
    }

    .menu2-title{
      /*color:white;*/
      font-weight: bold;
    }


    .menu3{
      padding: 10px;
      margin:1.5% 3% 1.5% 3%;
      background-color: lightgray;
    }

    .menu3-title{
      /*color:white;*/
      font-weight: bold;
      }





@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {


  }


@media (min-width: 992px) {


}
